[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_BASE_URL = "https://study-planner-api.fly.dev"
  VITE_FRONTEND_URL = "https://horasliquidas.com.br"


[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
